# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.o
bin/*
out

# CUDA
*.cubin
*.ptx

# Output
examples/kernels/output.ppm
build/
cmake-build-*/
target

# documentation
docs/*
!docs/index.html
!docs/style.css
!docs/diagram/
!examples/docs/

# Misc
project
.metals
.idea
.vscode
.vs
.bloop
modules.xml
