# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
cmake-build-*/
*.exe
*.out
*.app
*.o
bin/*
out

# CUDA
*.cubin
*.ptx

# Output
examples/kernels/output.ppm
build/

# EXTERNAL
include/catch2

# documentation
docs/*
!docs/diagram/
!examples/docs/
